# Node modules
node_modules/

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Test artifacts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-file.txt

# Build output
/dist
/build